<section class="comment" id="comment_<%= comment.id %>">
  <span class="vote">
    <%= render partial: "shared/votable", object: comment %>
  </span>
  <%= link_to comment.user.name, User.find(comment.user_id) %>
  <p>
    <%= comment.body %>
  </p>
</section>
