// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 100%;
  font-family: "Helvetica";
}

h1 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 6pt;
  text-transform: uppercase;
}

